.dropdown-menu[data-bs-popper]{
    left: auto;
}
.thead-d{
    font-size: 14px;
}
.tbody-d{
    font-size: 14px;
}
.colortitle {
    color: #040f39;
    font-weight: 600;
}
.cart-icon{
    height: 2em;
}
